<h3>Creating a Post</h3>
<hr />
<%= render partial: "form" %>
<!-- <form method="post" action="/entries">
  <p>
    <label for="author">Author: </label>
    <input id="author" type="text" name="entry[author]">
  </p>
  <p>
    <label for="photo_url">Photo: </label>
    <input type="text" name="entry[photo_url]">
  </p>
  <p>
    <label for="caption">Caption: </label>
    <textarea rows="4" cols="50" name="entry[caption]"></textarea>
  </p>
  <p>
    <input type="date" name="entry[date_taken]" placeholder="Date Taken">
  </p>
  <input type="submit">
</form> -->
